%h1 Listing tasks

%table
  %tr
    %th Title
    %th Progress
    %th People
    %th Notes
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr{:class => task.title,}
      %td= task.title
      %td= task.progress
      %td= task.people
      %td= task.notes
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :method => :delete

%br

= link_to 'New Task', new_task_path
